.deception-detection-add {
    width: 80%;
    margin: auto;
    outline: 1px solid;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.deception-detection-add:hover {
    background: #007bff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.55);
}


.video {
    width: 100%;
    display: flex;
    justify-content: center;
}

.video-answer {
    font-weight: bold;
}