.true-false-video {
    width: 80%;
    margin: auto;
    outline: 1px solid;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.video {
    width: 100%;
    display: flex;
    justify-content: center;
}

.video-answer {
    font-weight: bold;
}