:root {
  --green: #e4ffb7;
  --light-green: #f6ffe8;
  --green-dark: #b3c29a;
  --white: #ffffff;
  --black: #000000;
  --light-grey: #989898;
  --light-blue: #4a5bb5;
  --text: #212529;
  --course-card: #ffffff;
}

a {
  color: var(--text);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  color: var(--text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  background-color: var(--white);
}

a {
  color: var(--black)
}